.avia-section.av-kuy7dmm2-012476b0c2f91a403c7826f764d4e570{
background-color:#7b4090;
}
#top .avia-section.av-kuy7dmm2-012476b0c2f91a403c7826f764d4e570 .scroll-down-link{
color:#ffffff;
}

.avia-image-container.av-kuy7c5py-a3d5018db5bc983ed1f96fe88464a1e4 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-kuy7q3xg-4686b1bbf572eeb08534b07f157bf3bf .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-section.av-sqio4-938d873ed012b4739e5a9e561b5efa74{
background-color:#7b4090;
}

.av_font_icon.av-ikr8c-35cb69f588c14c3c815d0a855dec2df9{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-ikr8c-35cb69f588c14c3c815d0a855dec2df9 .av-icon-char{
font-size:40px;
line-height:40px;
}

.av_font_icon.av-fvpek-1eb206052ca599454c6becf33c8cb5e9{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-fvpek-1eb206052ca599454c6becf33c8cb5e9 .av-icon-char{
font-size:40px;
line-height:40px;
}

.av_font_icon.av-8a5es-2cca14c6417d857645cd23700b6c9dd1{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-8a5es-2cca14c6417d857645cd23700b6c9dd1 .av-icon-char{
font-size:40px;
line-height:40px;
}

.av_font_icon.av-8a5es-5d71f558d3cb673c186a05334abc52f2{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-8a5es-5d71f558d3cb673c186a05334abc52f2 .av-icon-char{
font-size:40px;
line-height:40px;
}

